ENVIRONMENT=LOCAL
LOG_LEVEL=INFO
PROJECT_NAME=nginx-log-analyzer

JWT_SECRET_KEY=replace_with_a_random_64_char_string

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nginx_log_analyzer

TEST_SQLALCHEMY_DATABASE_URI="postgresql+asyncpg://postgres:postgres@localhost:5432/test_nginx_log_analyzer"
