ENVIRONMENT=PYTEST

POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=base_fastapi

TEST_SQLALCHEMY_DATABASE_URI="postgresql+asyncpg://postgres:admin@localhost:5432/test_base_fastapi"
PROJECT_NAME=base_fastapi
